/* setto il font e uso il body per lo sfondo della pagina */
*{
    font-family: sans-serif;
}

body{
    background-color: rgb(251, 247, 242);
    margin: 0px;
}

/* stili per posizionare l'header nel modo corretto */
header{
    background-color: white;
    padding: 10px;
    background-image: url(../img/logo\ copia.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

h1{
    font-size: 2.5em;
    margin: 0em;
    margin-left: 50px;
    padding-bottom: 10px;
}

/* centro il main */

main{
    width: 75%;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    
}

/* sfrutto le conoscenze apprese riguardo i bordi per creare la nav */
main > nav{
    border-bottom: 1px solid rgb(251, 247, 242);
    padding: 15px 50px;
}

.button1{
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    padding: 6px 10px;
    border-color: transparent;
}

.button2{
    background-color: rgb(255, 255, 255);
    color: rgb(213, 213, 213);
    border-radius: 5px;
    padding: 6px 10px;
    border-color: rgb(213, 213, 213);
}

/* posiziono le section più al centro */
section{
    margin: 30px 0px 5px 30px;
}

/* stili riguardanti il cuore della page */
h3{
    color: rgb(65 64 64);
    font-weight: 900;
    margin-bottom: 5px;
}

/* suppongo che il motivo per il quale venga un'ellisse e non un cerchio sia il fatto che il
simbolo non abbia uguale larghezza e altezza  */
.check{
    width: 30px;
    height: 30px;
    color: rgb(3, 174, 3);
    border-color: rgb(3, 174, 3);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}
.cross{
    font-size: 0.5em;
    padding: 3px;
    color: rgb(255 12 12);
    border-color: rgb(255 12 12);
    border-radius: 50%;
    border-style: solid;
    border-width: 1.5px;
}
.txt{
    color: rgb(76, 76, 76);
    font-weight: bold;
    margin-left: 5px;
}

.azzurro{
    color: white;
    font-size: 0.7em;
    padding: 4px;
    background-color: rgb(64, 163, 225);
    border: solid 3px rgb(64, 163, 225);
    border-radius: 15px;
}

.viola{
    color: white;
    font-size: 0.7em;
    padding: 4px;
    background-color: rgb(133 93 149);
    border: solid 3px rgb(133 93 149);
    border-radius: 15px;
}
.verdeacqua{
    color: white;
    font-size: 0.7em;
    padding: 4px;
    background-color: rgb(24 177 133);
    border: solid 3px rgb(24 177 133);
    border-radius: 15px;
}
.Arancione{
    color: white;
    font-size: 0.7em;
    padding: 4px;
    background-color: rgb(242 149 5);
    border: solid 3px rgb(242 149 5);
    border-radius: 15px;
}
div{
    margin-bottom: 20px;
}